<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>
<!-- {{- partial "head/head" . -}} -->
<head>
    <title>{{.Params.title}} - {{ $.Site.Title}}</title>
    <link rel='canonical' href='{{ .Permalink }}' />

    {{ partial "head/meta" .}}

    <!-- {{ partial "head/style" .}} -->
    {{ $variables := resources.Get "sass/_variables.sass" }}
    {{ $scaffolddark := resources.Get "sass/scaffolddark.sass" }}
    {{ $custom := resources.Get "sass/custom.sass" }}
    {{ $styledark := slice $variables $scaffolddark $custom | resources.Concat "sass/styledark.sass" | toCSS | minify | fingerprint }}
    {{ $syntax := resources.Get "syntax.css" | minify }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="//{{ $styledark.Permalink }}" integrity="{{ $styledark.Data.Integrity }}" media="screen">
    <link rel="stylesheet" href="//{{ $syntax.Permalink }}" integrity="{{ $syntax.Data.Integrity }}" media="screen">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- END {{ partial "head/style" .}} -->

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}

</head>

<body>

{{ partialCached "sidebar/sidebar" .}}

<div class="hero is-fullheight-with-navbar hero-custom-size">
    {{ .Content }}

    <nav class="breadcrumb is-centered bulma-breadcrumb" aria-label="breadcrumbs">
        <ul>
            {{ template "breadcrumbnav2" (dict "p1" . "p1" .) }}
        </ul>
    </nav>

    <div class="hero-body">
        {{ define "breadcrumbnav2" }}
        {{ if .p1.Parent }}
        {{ template "breadcrumbnav2" (dict "p1" .p1.Parent "p2" .p2 )  }}
        {{ else if not .p1.IsHome }}
        {{ template "breadcrumbnav2" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
        {{ end }}
        <li {{ if eq .p1 .p2 }} class="is-active"{{ end }}>
            <a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
        </li>
        {{ end }}

        <div class="container max-800px">
            <h1 class="title is-1 has-background-warning has-text-dark narrow-background">
                {{ .Title }}
            </h1>
            {{ with .Params.herotext }}
            <h2 class="title subtitle is-4 has-background-warning has-text-dark narrow-background">
                {{ . }}
            </h2>
            {{ end }}
        </div>
    </div>

    <div class="container is-dark hero-text-custom-size">
        <div class="content ">
            {{ .Content }}
        </div>
    </div>

</div>

{{ partial "footer" .}}
</body>
</html>