<div id="player-wrapper" class="{{ .Get 1 }}"
     style="position: absolute; /* Sets the type of positioning */
     right: 0; /* Positions the video player from the right edge of the page */
     width: 70%; /* Sets the width of the video player */
     height: 100%; /* Sets the height of the video player */
     overflow: hidden;">
</div>

<script src="https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js"></script>

<script>
  var playerElement = document.getElementById("player-wrapper");

  var player = new Clappr.Player({
      source: "{{ .Site.BaseURL }}{{ .Get 0 }}",
      autoPlay: true,
      loop: true,
      mute: true,
      height: "100%",
      width: "100%",
      parentId: "#player-wrapper",
      clickToPause: false
  });
  player.getPlugin('click_to_pause').disable();
</script>

